.card {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  box-shadow: rgb(23 43 77 / 4%) 0px 1px 1px, rgb(23 43 77 / 4%) 0px 1px 2px;
  box-sizing: border-box;
  height: 266px;
  max-width: 280px;
  overflow: hidden;
  transition: all .2s;
}

.card:hover {
  border: 1px solid #3D92C4;
  box-shadow: rgb(23 43 77 / 8%) 0px 2px 3px, rgb(23 43 77 / 8%) 0px 2px 6px;
  cursor: pointer;
}

.card-hover {
  border: 1px solid #3D92C4;
  box-shadow: rgb(23 43 77 / 8%) 0px 2px 3px, rgb(23 43 77 / 8%) 0px 2px 6px;
  cursor: pointer;
}

.card-image-container {
  background: black;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  position: relative;
}

.card-image-container button {
  bottom: 12px;
  right: 12px;
  position: absolute;
}

.card-image {
  height: 160px;
  width: 300px;
  object-fit: contain;
  object-position: top;
}

.card-body {
  padding: 8px 12px 12px;
}

.card-body p {
  margin: 0;
}

.card-body h4 {
  margin: 0;
}

.card-footer {
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.card-footer-icon-container {
  display: flex;
}

.card-footer-icon-container button {
  margin: 0;
}